@model Prova_UCDB.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Mais detalhes do pedido</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomePedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>

    </dl>
</div>
<p class="btn btn-default">
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retornar a lista", "Index")
</pclass="btn>
